.App {
  text-align: center;
}



.App-header {
  /* background-color: #CAE7D0; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #25243B;
  font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.btn {
  height: 48px;
  width: 270px;
  border-radius: 27px;
  border:  2px solid #9B1E26;
  background: none;
  cursor: pointer;
  color: #9B1E26;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(37,36,59,0.1);
  margin-top: 2%;
}